$sp: 375px; // スマートフォン用のブレイクポイント
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

$tb: 920px; // スマートフォン用のブレイクポイント
@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

.header {
    width: 100%;
    height: auto;
}

.l-header {
  width: 100%;
  height: 224px;
  background-color: #FADFEF;
  @include sp {
      height: 144px;
  }
  &__nav {
      position: relative;
      
      
  } 
  &__logo {
      display: block;
      position: relative;
      left: 10px;
      top: 10px;
      width: 170px;
      @include tb {
          display: none;
      }
  }
  &__logo--tb {
      display: none;
      @include tb {
          display: block;
          position: relative;
          left: 5px;
          top: -66px;
          width: 141px;
      }
      @include sp {
          display: none;
      }
  }
  &__logo--sp {
      display: none;
      @include sp {
          display: block;
          position: relative;
          left: 5px;
          top: -70px;
          width: 87px;
      }
  }
  &__title {
      position: absolute;
      top: 134px;
      left: 50%;
      transform: translate(-50%, 0);
      @include sp {
          top: 100px;
          text-align: center;
          width: 100%;
      }
  }
  &__phone {
    position: absolute;
    top: 141px;
    left: 75%;
    @include tb {
        top: 139px;
    }
    @include sp {
        top: 72px;
        left: 85%;
        margin-left: 17px;

    }
    
  } 
  &__phone-number {
      display: block;
      position: absolute;
      top: 134px;
      left: 80%;
      @include sp {
          display: none;
      }
  } 

  

  &__main-visual {
      position: relative;
      width: 100%;
      height: auto;
      background-image: url(images/header-image.png);
      background-size: cover;
      padding-top: 44%;
      @include sp {
          background-image: url(images/header-image-sp.png);
      }

  }
  
  
  &__main-visual--cover {
      width: 100%;
      height: auto;
      background-color: rgba( 255, 255, 255, 0.8 );
      position: absolute;
      top: 50%;
      padding-top: 5%;
      padding-bottom: 5%;
      transform: translate(0, -50%);
      @include sp {
          padding-top: 44%;
          padding-bottom: 0%;
      }
  }
}

.l-about {
    position: relative;
    width: 100%;
    height: 600px;

    &__main-visual {
        
        width: 80%;
        height: auto;
        margin: auto;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        margin-top: 48px;
        position: relative;
        background: #FCE9E3;
        border-radius: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        text-align: center;

        @include tb {
            width: 80%;
            
            padding-top: 10px;
            
            padding-bottom: 10px;
           
           
            
            display: flex;
            flex-direction: column;
            
            gap: 10px;
            text-align: center;
        }

        p {
            display: inline-block;
            @include tb {
                font-size: 12px;
            }
            @include sp {
                font-size: 10px;
            }
        }
        
          
        :before {  
            
            content: "";
            position: absolute;
            left: 240px;
            top: 170px;
            width: 13px;
            height: 12px;
            bottom: 0;
            background: #FCE9E3;
            border-radius: 50%;
            @include tb {
                left: 120px;
                top: 145px;
            }
            @include sp {
                left: 115px;
                top: 130px;
            }
        }
          
        :after {
            
            content: "";
            position: absolute;
            left: 180px;
            top: 130px;
            width: 20px;
            height: 18px;
            bottom: 3px;
            background: #FCE9E3;
            border-radius: 50%;
            @include tb {
                left: 90px;
                top: 130px;
            }

            @include sp {
                top: 115px;
            }

          }
          
    }

    &__img {
        

        background-image: url(images/komarigao.png);
        width: 400px;
        left: 50%;
        transform: translateX(-50%);
        height: 200px;
        
        position: absolute;
        background-size: cover;
        margin-top: 5%;
        z-index: -1;
        @include sp {
            width: 300px;
            margin-top: 10%;
            
        }
    }
    &__text--wrapper {
        width: 100%;
    }

    &__solution--wrapper {
        

        background-color: #FADFEE;
        width: 60%;
        height: 123px;
        text-align: center;
        position: relative;
        margin-left: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin-right: auto;
        top: 280px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 2.0;
        @include tb {
            width: 80%;
            font-size: 12px;
        }
        @include sp {
            font-size: 10px;
        }

    }
    
}

.l-how-to {
    width: 100%;
    height: auto;

    &__title {
        font-size: 20px;
        text-align: center;
        margin-top: 24px;
        margin-bottom: 24px;

        @include tb {
            font-size: 14px;
        }
    }

    &__content {
        background-color: #FADFEF;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 40px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 64px;
        @include tb {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            margin-left: 0%;
            margin-right: 0%;
        }
        @include sp {
            gap: 20px;
            padding: 20px;
        }
    }


}



.p-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 86px;
    width: 50%;
    @include tb {
        display: none;
        
    }
    
}

.p-header__tltle {
    font-size: 32px;
    @include tb {
        font-size: 20px;
    }
}

.c-header__phone-number {
    font-size: 20px;
    padding-top: 7px;
    @include tb {
        font-size: 20px;
        padding-top: 0px;
    }
}

.c-menu__list {
    display: block;
    width: 25%;
    list-style: none;
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
    
    cursor: pointer;
    
    
    a {
        display: block;
        margin: auto;
        color: #707070;
        text-decoration: none;
    }
    
}

.c-menu__list:hover {
    background-color: #F2ACD2;
}

.c-phone {
    font-size: 32px;
    
    @include tb {
        font-size: 20px;
    }
}

.openbtn1 {
    display: none;
    @include tb {
        display: block;
        position: relative;/*ボタン内側の基点となるためrelativeを指定*/
        background: #FADFEF;
        cursor: pointer;
        width: 50px;
        height:50px;
        border-radius: 5px;
        z-index: 10;
        left: 85%;
    }
}

.p-menu-tb {
    display: none;
    @include tb {
        display: block;
        position: relative;
        color: #707070;
        
        margin-left: 3px;
        width: 50px;
        top: -7px;
        left: 85%;
    }
}

.openbtn1 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background: #707070;
    width: 45%;
    }
  
.openbtn1 span:nth-of-type(1) {
    top:15px; 
        }
  
.openbtn1 span:nth-of-type(2) {
    top:23px;
    }
  
.openbtn1 span:nth-of-type(3) {
    top:31px;
    }
  
  /*activeクラスが付与されると線が回転して×に*/
.openbtn1.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 45%;
    }  

  
.openbtn1.active span:nth-of-type(2) {
    opacity: 0;/*真ん中の線は透過*/
    }
  
.openbtn1.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 45%;
    }

#g-nav{
    display: none;
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    @include tb {
        display: block;
        position:fixed;
        z-index: 999;
        /*ナビのスタート位置と形状*/
        top:0;
        right: -120%;
        width:100%;
        max-width: 920px;
        height: 665px;/*ナビの高さ*/
        background: #FADFEF;
        /*動き*/
        transition: all 0.6s;
        z-index: 4;
    }
}
    /*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
    }
    
    /*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 665px;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    }
    
    /*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
    }
    
    /*リストのレイアウト設定*/
    
#g-nav li{
    list-style: none;
    text-align: center;
    }
    
#g-nav li a {
    color: #707070;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 16px;
    }

/*main-visual*/
.c-header__main-visual--text {
    text-align: center;
    font-size: 20px;
    width: 100%;
    @include tb {
        font-size: 16px;
    }
    @include sp {
        font-size: 10px;
        position: absolute;
        top: 50%;
        
    }
}

.c-about__text {
    position: absolute;
    top: 20px;
    left: 5%;

    &-2 {
        left: 65%;
        @include tb {
            left: 5%;
            top: 50px;
        }
    }

    &-3 {
        top: 120px;
        left: 5%;
        @include tb {
            top: 80px;
            left: 5%;
        }
    }

    &-4 {
        top: 120px;
        left: 65%;
        @include tb {
            top: 110px;
            left: 5%;
        }
    }

    &-5 {
        top: 200px;
        @include tb {
            top: 140px;
        }
    }

    &-6 {
        top: 200px;
        left: 65%;
        @include tb {
            left: 5%;
            top: 170px;
        }
    }



}

.c__title {
    width: 100%;
    background-color: #F8F5F5;
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    font-size: 20px;
    @include tb {
        height: 64px;
        font-size: 12px;
    }
}

.c__content {
    background-color: #FFFFFF;
    width: 100%;
    text-align: center;
    
    height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tb {
        height: 50px;
    }
    p {
        font-size: 16px;
        @include tb {
            font-size: 12px;
        }
    }

}