$sp: 375px; // スマートフォン用のブレイクポイント
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

$tb: 375px; // スマートフォン用のブレイクポイント
@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

.c-header__phone {
    height:auto ;
}