$sp: 375px; // スマートフォン用のブレイクポイント
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

$tb: 375px; // スマートフォン用のブレイクポイント
@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

.l-header {
  width: 100%;
  height: 224px;
  background-color: #FADFEF;
  &-nav {
      position: relative;
      
  }   
}

.p-menu {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    height: 86px;
    width: 50%;
    
}

.c-menu__list {
    display: block;
    width: 25%;
    list-style: none;
    text-align: center;
    font-size: 16px;
    padding-top: 25px;
    border: 1px solid #707070;
    cursor: pointer;
    
    a {
        display: block;
        margin: auto;
        color: #707070;
        text-decoration: none;
    }
    
}